section {
  cursor: default;
  display: flex;
  gap: 1rem;

  .info-item {
    --size: 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .25em;

    &__amount {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      color: var(--text-secondary-color);
      font-size: 3rem;
      font-weight: bold;
      background-color: var(--bg-secondary-color);
      border-radius: calc(var(--size) / 3);
    }

    &__title {
      color: var(--text-tertiary-color);
    }
  }
}
