<section>
  <div class="info-item">
    <p class="info-item__title">words/min</p>
    <p class="info-item__amount" title="{{wordsPerMinute || 0}} words per minute">{{ wordsPerMinute || 0 }}</p>
  </div>

  <div class="info-item">
    <p class="info-item__title">chars/min</p>
    <p class="info-item__amount" title="{{charsPerMinute || 0}} chars per minute">{{ charsPerMinute || 0 }}</p>
  </div>

  <div class="info-item">
    <p class="info-item__title">% accuracy</p>
    <p class="info-item__amount" title="{{accuracyPercentage || 0}}% accuracy">{{ accuracyPercentage || 0 }}</p>
  </div>
</section>
