:host {
  position: relative;
  cursor: text;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  user-select: none;
}

section {
  --input-element-width: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary-color);
  width: 100%;
  height: 100%;

  > input {
    border: none;
    width: var(--input-element-width);
    font-size: 3rem;
  }

  .words {
    display: flex;
    gap: 1rem;
    width: calc(50% - var(--input-element-width) / 2);

    &:first-child {
      justify-content: flex-end;
    }
  }

  .word {
    font-size: 3rem;
    white-space: nowrap;

    &--entering {
      color: var(--info-color);
    }

    &--correct {
      color: var(--success-color);
    }

    &--incorrect {
      color: var(--accent-color);
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--info-color);
    transform: scaleX(var(--progress-bar-scale-x));
    transition: transform calc(var(--progress-bar-scale-x-animation-seconds) * 1s) linear;
  }
}

.restart {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--text-secondary-color);
  background-color: rgba(255, 255, 255, 0.9);

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(0.2em);
  }
}
