:host {
  display: flex;
  width: 100%;
}

section {
  --input-element-width: 1px;

  cursor: text;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-color: var(--bg-secondary-color);
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 1rem;

  > input {
    border: none;
    width: var(--input-element-width);
    font-size: 4rem;
  }

  .words {
    display: flex;
    gap: 1rem;
    width: calc(50% - var(--input-element-width) / 2);

    &:first-child {
      justify-content: flex-end;
    }
  }

  .word {
    color: var(--text-primary-color);
    font-size: 4rem;
    white-space: nowrap;

    &--entering {
      color: var(--info-color);
    }

    &--correct {
      color: var(--success-color);
    }

    &--incorrect {
      color: var(--accent-color);
      text-decoration-line: line-through;
    }
  }
}
