<section>
  <p class="words">
    <!-- Entered words -->
    <span *ngFor="let item of enteredWords" [class.word--incorrect]="!item.correct"
          class="word word--correct">{{ item.word }}</span>

    <!-- Entering word -->
    <span [class.word--incorrect]="!enteringWord?.correct"
          class="word word--entering">{{ enteringWord?.entered }}</span>
  </p>

  <input #inputRef (input)="onInput()" (keydown)="onKeyDown($event)" autofocus type="text"/>

  <p class="words">
    <!-- Entering word -->
    <span *ngIf="enteringWord?.target" class="word">{{ enteringWord!.toEnter }}</span>

    <!-- Words to enter -->
    <span *ngFor="let word of wordsToEnter" class="word">{{ word }}</span>
  </p>

  <div class="progress"></div>
</section>

<h3 (click)="reset()" *ngIf="disabled" class="restart" title="Click to try again">{{ restartText }}</h3>
