<section>
  <p class="words">
    <!-- Entered words -->
    <span *ngFor="let item of enteredWords" [class.word--incorrect]="!item.correct"
          class="word word--correct">{{ item.word }}</span>

    <!-- Entering word -->
    <span [class.word--incorrect]="!enteringWord?.correct"
          class="word word--entering">{{ enteringWord?.entered }}</span>
  </p>

  <input #inputRef (input)="onInput()" (keydown)="onKeyDown($event)" autofocus type="text"/>

  <p class="words">
    <!-- Entering word -->
    <span *ngIf="enteringWord?.target" class="word">{{ enteringWord!.toEnter }}</span>

    <!-- Words to enter -->
    <span *ngFor="let word of wordsToEnter" class="word">{{ word }}</span>
  </p>
</section>

<!-- Progressbar -->
<svg #progressBarRef height="100%" viewBox="0 0 100% 100%" width="100%" xmlns="http://www.w3.org/2000/svg">
  <rect height="100%" width="100%"></rect>
</svg>

