/**
 * The application's color palette.
 */

:root {
  // Common
  --accent-color: #e63946;
  --success-color: #6fc316;
  --info-color: #00a2dd;

  // Background
  --bg-primary-color: #faf9f9;
  --bg-secondary-color: #ffffff;

  // Text
  --text-primary-color: #000814;
  --text-secondary-color: #3b4353;
  --text-tertiary-color: #adadad;
}
