/**
 * The application's color palette.
 */

:root {
  // Common
  --accent-color: #e63946;

  // Background
  --bg-primary-color: #faf9f9;
  --bg-secondary-color: #ffffff;

  // Text
  --text-primary-color: #000814;
  --text-secondary-color: #293241;
}
